<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.sleeptight">

    <application
        android:largeHeap="true"
        android:name=".ui.application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar" />
        <activity
            android:name=".ui.page.Page1"
            android:label="@string/title_activity_page1"
            android:theme="@style/CustomTheme" />
        <activity android:name=".ui.BasicPage" />
        <activity
            android:name=".ui.page.Page2"
            android:label="@string/title_activity_page2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.page.SleepPlanActivity"
            android:label="@string/title_activity_sleep_plan"
            android:parentActivityName=".ui.HomePage"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.sleeptight.ui.HomePage" />
        </activity>
        <activity
            android:name=".ui.chart.PieChartActivity"
            android:label="@string/title_activity_pie_chart"
            android:parentActivityName=".ui.HomePage"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.sleeptight.ui.HomePage" />
        </activity>

        <activity android:name=".ui.chart.BasicChartPage" />
        <activity
            android:name=".ui.chart.BarChartActivity"
            android:label="@string/title_activity_bar_chart"
            android:parentActivityName=".ui.HomePage"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.sleeptight.ui.HomePage" />
        </activity>

        <activity
            android:name=".ui.light.LightAuthActivity"
            android:label="@string/title_activity_phhome"
            android:parentActivityName=".ui.HomePage"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.sleeptight.ui.HomePage" />
        </activity>
        <activity
            android:name=".ui.light.PHPushlinkActivity"
            android:label="@string/title_activity_phpushlink"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar" />
        <activity
            android:name=".ui.light.LightControlActivity"
            android:label="@string/title_activity_light_control"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar"/>
        <activity
            android:name=".ui.user_branch.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar"/>
        <activity
            android:name=".ui.user_branch.LoginActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar"
            android:label="@string/title_activity_login"
        ></activity>
    </application>

</manifest>